<html>
    <head>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
<div id="heropage">
    <div class="navbar">
    <span class="navbarcont"> 
        <img src="/assets/network1.svg"> 
        <p>network</p>
    </span>
    
        <button class="Signupbutton">Signup</button>
   
    </div>
    <div class="herocont">
        <span class="loginbox">
            <button class="loginbutton">Login</button>
              <div class="unamecontentbox">
              <input type="text" id="name" name="name" formControlName="username" placeholder="Username..." >
              <small class="unamerequired" >Username is Required</small>
              </div>
              <div class="unamecontentbox">
              <input type="text" id="pwd" name="password" formControlName="password" placeholder="Password...">
              <small class="pwordrequired" >Use 8
                or more
                characters with a mix
                of
                letters, numbers & symbols</small>
            </div>
            <button id="submitbutton" > Submit </button>
        </span>
    </div>
</div>
    </body>
</html>
