<html>
    <head>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
<div id="heropage">
    <div class="navbar">
    <span class="navbarcont"> 
        <img src="/assets/network1.svg"> 
        <p>network</p>
    </span>
    </div>
    <div class="herocont">
       <span class="herocontbox"> <span> <p class="herocont1">Create</p> <p class="herocont2">your</p></span>
        <span> <p class="herocont1">Own</p> </span>
        <span> <p class="herocont1">Network</p> </span>
        <button class="herobutton">now</button>
    </span>
    </div>
</div>
    </body>
</html>
